In [1]:
import numpy as np
import pandas as pd

In [10]:
curr_fx_df = pd.read_csv('curr_fx.csv')
print(curr_fx_df.shape)
curr_fx_df.head()

(1, 4)

   USD  EUR  CNY  NOK
0    1  0.9  6.8    9

In [11]:
loss_A_df = pd.read_csv('loss_A.csv')
print(loss_A_df.shape)
loss_A_df.head()

(10000, 4)

   ID  total_incurred_loss risk_type currency
0   0                 11.6         A      EUR
1   1                  8.5         A      USD
2   2                 11.1         A      USD
3   3                 10.0         A      USD
4   4                 10.0         A      USD

In [12]:
loss_B_df = pd.read_csv('loss_B.csv')
print(loss_B_df.shape)
loss_B_df.head()

(10000, 4)

      ID  total_incurred_loss risk_type currency
0  10000                56.10         B      NOK
1  10001                 8.34         B      USD
2  10002                 7.65         B      USD
3  10003                17.50         B      USD
4  10004                 5.62         B      USD